<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Audio Tones</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fuggles&family=Lato:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fuggles&family=Lato:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fuggles&family=Lato:wght@700&family=Mooli&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
    </head>
    <body>
        <div class="heading">
            <h1>Audio Tones</h1>
        </div>
        <div id="speechContainer">
            <h2>Upload new file</h2>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <br>
                <input type="submit" id="submitButton" value="Convert audio to text!"/>
            </form>
            
            <!-- jinja python logic for making sure transcript exists -->
            {% if transcript != "" %}
            <div id="speechTranscriptContainer">
                <h2>Transcript</h2>
                <p id="speechText">{{transcript}}</p>
            </div>
            <div>
                <p>{{polarity_score}}</p>
            </div>
            {% endif %}

        </div>
        <p id="copyright">speech recognition by iconpro86 from <a href="https://thenounproject.com/browse/icons/term/speech-recognition/" target="_blank" title="speech recognition Icons">Noun Project</a> (CC BY 3.0)</p>
    </body>
</html>