h1, p, input {
    font-family: 'Lato', sans-serif;
}

/* body {
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
} */

.heading {
    width: 100%;
}

.heading h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'Mooli', sans-serif;
}

#speechContainer {
    margin: 20px;
    position: absolute;
    left: 35%;
}

#submitButton {
    background: transparent;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px 30px;
    margin-top: 20px;
    font-family: 'Mooli';
    font-size: 2em;
    opacity: .75;
}

#submitButton:hover {
    border: 2px solid #104F55;
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: #104F55;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#speechTranscriptContainer {
    margin: 20px auto;
}

#speechText {
    border: 10px solid #0191FE;
    margin: 0 auto;
    font-size: 32px;
    padding: 5%;
    max-width: 700px;
    font-family: 'Mooli', 'Fuggles', sans-serif;
}

#copyright {
    font-size: 10px;
    color: white;
    position: absolute;
    top: 90%;
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
    background: #9b59b6;

}

.bubble{
    position: absolute;
    bottom: 0;
    background: #f1f1f1;
    border-radius: 50%;
    opacity: 0.5;
    animation: flying 10s infinite ease-in;
}
  
.bubble:nth-child(1){
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}
  
.bubble:nth-child(2){
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}
  
.bubble:nth-child(3){
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 10s;
    animation-delay: 2s;
}
  
.bubble:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-duration: 7s;
    animation-delay: 0s;
}
  
.bubble:nth-child(5){
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}
  
.bubble:nth-child(6){
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
}
  
.bubble:nth-child(7){
    width: 25px;
    height: 25px;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 2s;
}
  
.bubble:nth-child(8){
    width: 80px;
    height: 80px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 1s;
}
  
.bubble:nth-child(9){
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 9s;
    animation-delay: 0s;
}
  
.bubble:nth-child(10){
    width: 50px;
    height: 50px;
    left: 85%;
    animation-duration: 5s;
    animation-delay: 3s;
}
  
@keyframes flying{
    0%{
      bottom: -100px;
      transform: translateX(0);
    }
    50%{
      transform: translateX(100px);
    }
    100%{
      bottom: 1080px;
      transform: translateX(-200px);
    }
}