h1, p, input {
    font-family: 'Lato', sans-serif;
}

body {
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.heading {
    width: 100%;
}

.heading h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'Mooli', sans-serif;
}

#speechContainer {
    margin: 20px;
}

#submitButton {
    background: transparent;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px 30px;
    margin-top: 20px;
    font-family: 'Mooli';
    font-size: 2em;
    opacity: .75;
}

#submitButton:hover {
    border: 2px solid #104F55;
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: #104F55;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#speechTranscriptContainer {
    margin: 20px auto;
}

#speechText {
    border: 10px solid #0191FE;
    margin: 0 auto;
    font-size: 32px;
    padding: 5%;
    max-width: 700px;
    font-family: 'Mooli', 'Fuggles', sans-serif;
}

#copyright {
    font-size: 10px;
    color: white;
}

.muzieknootjes {
    display: block;
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 200px;
    border: 0px solid #000;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
    top: 60px;
    left: 0;
    animation-delay: 0.5s;
}
  
.noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
}

.noot-3 {
    top: 90px;
    left: 60%;
    animation-delay: 1.5s;
}
  
.noot-4 {
    top: 40px;
    left: 90%;
    animation-delay: 2s;
}

@keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
}