h1, p, input {
    font-family: 'Lato', sans-serif;
}

#speechContainer {
    margin: 20px;
}

#submitButton {
    background-color: #0191FE;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}

#speechTranscriptContainer {
    margin: 20px auto;
}

#speechText {
    border: 10px solid #0191FE;
    margin: 0 auto;
    font-size: 32px;
    padding: 5%;
    max-width: 700px;
    font-family: 'Dancing Script', 'Fuggles', sans-serif;
}

#copyright {
    font-size: 10px;
    color: gray;
}